<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="UUID" type="java.util.UUID"/>
        <typeAlias alias="UUIDTypeHandler" type="com.geek.sc.mybatis.UuidTypeHandler"/>
        <typeAlias alias="EnumTypeHandler" type="org.apache.ibatis.type.EnumTypeHandler"/>
        <package name="com.geek.sc.entity"/>
    </typeAliases>
    <typeHandlers>
        <typeHandler handler="com.geek.sc.mybatis.UuidTypeHandler"/>
    </typeHandlers>
    <plugins>
        <plugin interceptor="com.geek.sc.mybatis.TimestampInterceptor"/>
    </plugins>
</configuration>